*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a,button{
   -webkit-tap-highlight-color: transparent;
}

:root{
    --primary-color: #ffffff;
    --secondary-color:#000000;
    --tertiary-color:#a4161a ;
    --accent1-color:#000080;
    --accent2-color:#FFD700;
    --accent3-color:#ffffff;
    --accent4-color: #a4161a;
    --accent5-color:#2D6A4F;
    --accent6-color:#eee;
    --border:2px solid rgb(0 0 0/0.2);
    --border-color: 2px solid #ddd;
    --body-font: "Roboto", sans-serif;
}
body{
    font-family:  var(--body-font);
}

/********************* Hamburger Menu *********************/
#ham-menu {
    width: 44px;
    height: 44px;
    background: var(--accent5-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all 0.4s ease;
}
#bars{
    width: 80%;
    height: 3px;
    background-color: var(--accent3-color);
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 0.4s ease;
}

#bars::before{
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--accent3-color);
    position: absolute;
    transform: translateY(-8px);
}
#bars::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--accent3-color);
    position: absolute;
    transform: translateY(8px);
}

.show #bars{
    background-color: transparent;
    transform: rotate(180deg);
}
.show #bars::before{
    transform: translate(0) rotate(-45deg);
}
.show #bars::after{
    transform: translate(0) rotate(45deg);
}




/********************* Header *********************/
header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 10px;
    border: var(--border-color);
    gap: 10px;
}
header .logo{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}
.logo img{
    width: 60px;
    height: auto;
    padding-bottom: 3px;
}

.logo span{
    font-size: 25px;
    font-weight: 500;
    color: var(--tertiary-color);

}


/********************* Navigation*********************/
.navigation{
    display: none;
}

#nav-mobile{
    display: block;
    position: absolute;
    background-color: var(--accent3-color);
    width: 100%;
    top: -100%;
    transition:0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 30;
}

#nav-mobile.show{
    top: 80px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul a{
    display: block;
    padding: 10px;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
}

.current a::before{
    content: "✔️ ";
}

 a:hover{
    background-color:var(--accent5-color);
    color: var(--primary-color);
}
/********************* Home Page  *********************/
#hero{
    margin: 10px;
    position: relative;
    z-index: 10;
}
#hero-h1{
    position: absolute;
    top: 20px;
    left: 20px;
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}
#home-btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#home-page{
   width: 90%;
   margin: 0 auto;
}

.hero img{
    width: 100%;
    height: auto;
}

#hero-h1{
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 8px;
}



#home-btn{
    padding: 15px;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    border: var(--border-color);
    border-radius: 15px;
    font-size: large;
    text-decoration: none;
    align-self: center;
}
#home-btn:hover{
    color: var(--tertiary-color);
    background-color: var(--accent3-color);
    border: var(--border-color);
}

#home-grid{
    display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
}

#home-grid h2{
    text-align: center;
    color: var(--tertiary-color);
    border: var(--border);
    padding: 15px;
    font-size: 30px;
}

#forecast{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--accent3-color);
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-size: 25px;
    gap: 30px;
    flex-grow: 1;
}
.event-container{
    padding: 20px;
}

#current-weather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    gap: 10px;
    flex-grow: 1;
    font-size: 20px;
    text-align: center;
    background: var(--accent3-color);
}

.events, .weather, .weather-forecast {
    display: flex;
    flex-direction: column;
    background: var(--accent6-color);
}


.event {
  background: var(--accent3-color);
  padding: 15px;
  margin-bottom: 15px;
  border-left: var(--border-color);
}

.event h3 {
  margin-bottom: 8px;
}

.event p {
  margin: 5px 0;
}

#current-weather span{
    display: block;
}

#spotlights{
    display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-content: center;
}

#spot-section{
    display: grid;
    grid-template-columns: 150px 1fr ;
    gap: 20px;
    align-items: center;
    border: var(--border-color);
    border-radius: 12px;
    margin: 10px 0;
    overflow: hidden;
}

#spot-section .top{
    grid-column: 1/3;
    border-bottom: var(--border);
    margin-bottom: 10px;
}

#spot-section img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
#spot-section .info{
    font-size: 14px;
    line-height: 1.5;
    text-align: start;

}
#spot-section p{
    margin: 4px;
    word-break: break-all;
}
/********************* Directory*********************/
#directory{
    text-align: center;
    font-size: 30px;
    color: var(--tertiary-color);
    margin: 10px 0;
}


.now-grid{
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-content: center;
    padding: 10px;
    border:var(--border);
    background-color: var(--accent3-color);
}

.grid-member{
    padding: 15px 15px 10px 15px;
    text-align: center;
    background-color: var(--accent6-color);
}
.grid-member h2{
    color: var(--tertiary-color);
    font-weight: 700;
}
.grid-member strong {
    color: var(--secondary-color);
    margin-right: 6px;
    font-size: 18px;
    font-weight: 500;
}
.grid-member img{
    margin-top: 10px;
    width: 100%;
    border-radius: 12px;
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.4);
    object-fit: cover;

}

.mem-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.now-list .grid-member {
    display: grid;
    grid-template-columns: 1fr;
    padding: 12px;
    align-items: center;
    text-align: left;
    gap: 10px;

}
.now-list .grid-member h2{
    font-weight: 400;
    font-size: 20px;
}

.now-list .grid-member:nth-child(odd){
    background-color: var(--accent6-color);
}

.now-list .grid-member:nth-child(even){
    background-color: var(--accent3-color);
}
.now-list img, .now-list #mem-description, .now-list #mem-level {
    display: none;
}



/********************* Directory Btn*********************/
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    margin: 20px 0;
}
.styled-button{
    background-color: var(--primary-color); 
    border: none; 
    border-radius: 10px; 
    padding: 15px; 
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  
}
.styled-button img {
    width: 40px; 
    height: 40px;
}

.styled-button:hover {
background-color: var(--accent6-color);
}


/********************* FOOTER *********************/
footer{
    padding: 16px 10px;
    line-height: 30px;
    text-align: left;
    color:var(--secondary-color);
    background-color: var(--accent6-color);
}


#address span{
    font-weight: 500;
}
.social{
    display:flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;

}
.social a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height:80px;
    border-radius: 50%;
}
.social a:hover{
   background-color: var(--accent2-color);
}

.social img{
    width: 44px;
    height: 44px;
}