@media only screen and (min-width:700px) {
    header,main,nav,footer{
        max-width: 1200px;
        margin: 0 auto;
    }
    
    #ham-menu{
        display: none;
    }

/********************* Navigation *********************/
    #nav-mobile{
        display: none;
    }

    .navigation{
        display:block;
        flex-grow: 1;
     }
     
    nav ul{ 
        display: flex;
        justify-content:flex-end;
        gap: 30px;
     }

    nav li.current a{
    background-color: var(--accent5-color);
    color: var(--primary-color);
    border-radius: 10px;
}

     .navigation a{
        color: var(--tertiary-color);
     }

    .navigation a:hover{
    background-color:var(--accent4-color);
    color: var(--primary-color);
    border: var(--border-color);
    border-radius: 10px;
}

.now-list .grid-member {
    grid-template-columns: 1.5fr 2fr 1.5fr 2fr;
}

.now-list strong{
    display: none;
}


/********************* Home*********************/


#hero-h1{
    top: 50px;
    left: 50px;
    font-size: 40px;
}
#home-btn{
    bottom: 60px;
    right: 40px;
}


/********************* Join *********************/
  
    input[type=text],
    input[type=tel],
    input[type=date],
    input[type=email],
    textarea,
    select{
        padding: 15px;
        max-width: 600px;
    }

    textarea{
    height: 150px;
}
  
    input[type=submit] {  
      max-width: 600px; 

    }




#container{
     grid-template-columns: 1fr 1fr;
}

/********************* FOOTER *********************/
footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    gap: 10px;
}


}
